.card {
  position: relative;
  height: 150px;
  width: 100px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 0 10px;
  &:after {
    content: ' ';
    white-space: normal;
    width: 90px;
    height: 140px;
    position: absolute;
    border: 1px solid #FF859E;
    border-radius: 5px;
  }
}
